@font-face {
    font-family: 'space-cruiser';
    src: url('./Spacec5.ttf');

}

html, body {
    height: 100%;

}

body {
    display:flex;
    flex-direction:column;
    align-items: center;
    background-color: navy;
}


.heading-container {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 3rem;
    font-family: 'space-cruiser';
    background-color: cyan;
    border-radius: 10px;
    padding: 10px;
}

.player-text {
    padding: 5px 15px 5px 15px;
    font-size: 2rem;
    background-color: rgb(247, 46, 46);
    border-radius: 15px;
    font-weight: bold;
    border: 2px solid black;
    font-family: 'space-cruiser';
    font-weight: lighter;
    
}

.container-container {
    display:flex;
    justify-content: center;
    gap: 10vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: black;
   
}


.grid-container {
    display: grid;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    height: 40vh;
    width: 40vh;
    background-color: white;
    margin-top: 5vh; 

}

.player-cell, .comp-cell {
    border: 1px solid black;
    box-sizing: border-box;
    height: 4vh;
    width: 4vh;
}

.display-winner {
    font-size: 2rem;
    width: 300px;
    height: 3rem;
    background-color: black;
    color: green;
    font-family: 'space-cruiser';
    margin-top: 5vh;
    border-radius: 5px;
}

.change-orientation {
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    background-color: cyan;
    margin-top: 1vh;
}